

img{
    max-width: 100%;
}

.header-pequiven{
    background-color:  #e63128 ;
    max-width: 100%;
}



.header-pequiven i{
    font-size: 3rem;
    align-self: center;
    background-color: white;
    padding: 5px;
    border: 1px solid #03030300;
    border-radius: 50%;
}

.contenedor-header{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 95%;
}


@media (max-width: 1144px) {
    .contenedor-header{
        display: block;
        align-content: center;
    }
   }

.logo-pequiven{
    display: flex;
   width: 12%;
}

@media (max-width: 1144px) {
    .logo-pequiven{
        display: flex;
        width: 100%;
        justify-content: center;
    }
   }


.logo-pequiven a{
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none !important; 
    display: flex;
}

.logo-pequiven h2{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
   align-self: center;
}

.logo-pequiven img{
    width: 80px;
    
}

.navbar-pequiven{
    width: 80%;
    display: flex;
    justify-content: space-around;
    
    
}

@media (max-width: 1144px) {
    .navbar-pequiven{
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    
}

.navbar-pequiven a{
color: rgb(0, 0, 0);
text-align: center;
font-size: 2.2rem;
align-self: center;
padding: 10px 20px;
background-color: rgb(245, 245, 245);
border: 1px solid #03030300;
border-radius: 10px;
}

.navbar-pequiven a:hover{
    transition: .2s;
   transform: scale(1.3) ;
-webkit-transform: scale(1.3) ;
-moz-transform: scale(1.3) ;
}

.titulo-header{
    color: black;
}
